* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  opacity: 0.7;
  font-size: 0.9rem;
}

button {
  background: #22c55e;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: #16a34a;
  transform: scale(1.05);
}

.counter {
  font-size: 4rem;
  font-weight: bold;
  padding-top:1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .subtitle {
    font-size: 0.8rem;
    text-align: center;
  }

  button {
    width: 80%;
    font-size: 1rem;
    padding: 12px;
  }

  .counter {
    font-size: 3rem;
  }

  .container {
    padding: 20px;
  }


  }
      .loading {
      animation: blink 1.5s infinite;
    }

    @keyframes blink {
      0% { opacity: 0.2; }
      50% { opacity: 1; }
      100% { opacity: 0.2; }
}